/* --------------- css-demo ------------------ */

/* --------------- Color Scheme --------------
Colors - #FBD5CE, #FEF1C9, #FFFFCB, #E7FDE9, 
#DFF9FD, #DBCCE6, #F2E6FF */

/*  -------------- Box Sizing ----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  









body{
  background-color: beige;
  font-family: "Rakkas", serif;
    
}