/* --------------- css-demo ------------------ */

/* --------------- Color Scheme --------------
Colors - #FBD5CE, #FFE4CC, #FFFFCB, #E7FDE9, 
#DFF9FD, #DBCCE6, #F2E6FF */

/*  -------------- Box Sizing ----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  









body{
  background-color: #FBD5CE;
  font-family: "Rakkas", serif;
    
}


header.primary{
background-color: #FFE4CC;
color:#FFFFCB;
text-align: center;
text-shadow: 2.5px 2.5px 10px #E7FDE9;
}