/* --------------- css-demo ------------------ */

/* --------------- Color Scheme --------------
Colors - #FBD5CE, #FFE4CC, #FFFFCB, #E7FDE9, 
#DFF9FD, #DBCCE6, #F2E6FF */

/*  -------------- Box Sizing ----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }


/*  -------------- Responsive Images ----------------  */

img{
  max-width:100%;
}

/* ---------- Utility Classes ------------ */ 

.container{
  width: 75vw;
  max-width:965px;
  margin:43px auto;
}
  









body{
  background-color: #FBD5CE;
  font-family: "Rakkas", serif;
  margin: 0;
    
}


header.primary{
background-color: #FFE4CC;
color:#FFFFCB;
text-align: center;
text-shadow: 2.5px 2.5px 10px #E7FDE9;
/* T, R, B, L */ 
padding: 23px 46px 23px 46px;
}

header.primary h1{
/* top | left and right | bottom */
font-size:2.7rem;
margin:15px; 
}

header.primary h1 a{
color:#DFF9FD;
text-decoration:none;
}

header.primary h2{
  font-size:1.6rem;
  margin: 0;
}

header.primary nav{
  max-width:965px;
  margin:auto;
}
header.primary nav ul{
  display:flex;
  flex-direction:row;
  justify-content:space-around; 
  padding:7px 0;
}
header.primary nav ul li {
  list-style-type:none;
}
header.primary nav ul li a{
  color:#DBCCE6;
  font-size:1.2rem;
  text-decoration:none;
  border:8px double #F2E6FF;
  padding:3px 5.5px;
  background-color: rgba(251,213,206,1);
  border-radius: 19px;
  transition:.5s;
}

header.primary nav ul li a:hover{
  background-color:rgba(231,253,233,1);
}

#content{
  line-height:1.6;
}

#content h2{
  color:#FFE4CC;
  border: 2.7px ridge #FFFFCB;
}

#blog{
  display:flex;
  justify-content:space-around;
  flex-direction:row;
  gap:2rem;
}

#blog article.post{
  box-shadow: 0 5px 9px rgba(231,253,233,1);
  padding:11px;
  border-radius:6px;
  font-size:1rem;
  transition: .5s;
}

#blog article.post:hover {
  box-shadow: 0 10px 18px rgba(223,249,253,1);
}

#blog figure{
  margin:0;
}

#blog figcaption {
  text-transform:uppercase;
  font-size: 0.8rem;
  text-align: center;
  color:#DBCCE6;
}

#blog .post a{
  color:#F2E6FF;
}






































/* --------------- Media Queries ---------------- */
@media screen and (max-width:580px){

  header.primary nav ul{
  flex-direction:column;
  gap:5px;
  max-width:195px;
  margin:5px auto;
}
}

header.primary nav a {
  display:block;
}

